<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>JavaScript y Node JS</title>
        <link rel="stylesheet" href="/public/CSS/temas.css"/>
        <link rel="stylesheet" href="/public/CSS/normalize.css">
    </head>
    <body>
        {{>header}}

        <a href="{{backLink}}">
            <input type="submit" name="Regresar" id="" value="Regresar">
        </a>
        <main>
            <section id="description">
                <h3>JavaScript y Node JS</h3>
                <h4>
                    Comandos principales de JavaScript
                </h4>
                <p>
                    backColor: Cambia el color del fondo.
                </p>
                <p>
                    copy: Copia el texto copiado en el portapapeles.
                </p>
                <p>
                    cut: Corta el texto seleccionado y lo copia al portapapeles.
                </p>
                <p>
                    delete: Borra el texto seleccionado.
                </p>
                <p>
                    fontName: Cambia la fuente
                </p>
                <p>
                    fontSize: Cambia el tamaño de la fuente
                </p>
                <p>
                    foreColor: Cambia el color del texto.
                </p>
                <p>
                    Este ejemplo es más descriptivo y completo
                    se respresentará mediante una imagen:
                </p>
                <img src="/public/IMG/ejemplo_js.png">
                <h4>
                    ¿Qué es Node?
                </h4>
                <img src="/public/IMG/nodejs.png">
                <p>
                    Es un entorno de tiempo de ejecución de JavaScript
                    "de ahí su terminación en .js haciendo alusión al
                    lenguaje JavaScript". Este entorno de tiempo de
                    ejecución en tiempo real incluye todo lo que se
                    necesita para ejecutar un programa escrito en
                    JavaScript. 
                </p>
                <hr>
                <p>
                    Ejemplo gráfico:
                </p>
                <img src="/public/IMG/ejemplo_nodejs.png">
            </section>
        </main>
        {{>footer}}
    </body>
</html>