/* Estilos para la página de inicio */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* Estilos para la sección del servidor web */
#server {
  text-align: center;
  margin: 50px;
}

#server h1 {
  color: #333;
  font-size: 2.5em;
}

#server p {
  color: #555;
  font-size: 1.2em;
}

/* Estilos para las imágenes */
#server img,
#html img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

/* Estilos para la sección HTML */
#html {
  text-align: center;
  margin: 50px;
}

#html h1 {
  color: #333;
  font-size: 2.5em;
}

#html p {
  color: #555;
  font-size: 1.2em;
}

/* Estilos para la sección de CSS */
#css {
  text-align: center;
  margin: 50px;
}

#css h1 {
  color: #333;
  font-size: 2.5em;
}

#css p {
  color: #555;
  font-size: 1.2em;
}

/* Estilos para la sección de temas */
#temas {
  text-align: center;
  margin: 50px;
}

#temas h2 {
  color: #333;
  font-size: 2em;
}

.htmlcss,
.js {
  margin-bottom: 20px;
}

.htmlcss h3,
.js h3 {
  font-size: 1.5em;
  color: #333;
}

.htmlcss a,
.js a {
  color: #007bff;
  text-decoration: none;
}
