/* Estilos para la página de Chihuahua */

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* Estilos para la sección de descripción */
#description {
  text-align: center;
  margin: 50px;
}

#description h3 {
  color: #333;
  font-size: 2em;
}

#description p {
  color: #555;
  font-size: 1.2em;
}

#description h4 {
  color: #333;
  font-size: 1.8em;
}

/* Estilos para elementos específicos */
iframe {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 20px 0;
}
